@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

@font-face {
	font-family: QuiteChocolatey;
	src: url(../fonts/QuiteChocolatey.ttf);
}


body {
	background-color: #f2f2f2;   /* цвет фона    */					/*     */
	font-family: "Lato";
	font-weight: 300;
	font-size: 10px;
	color: #555;

	-webkit-font-smoothing: antialiased;			/*  Гладкий шрифт на моб. устройствах или увеличить   */
	-webkit-overflow-scrolling: touch; 	/*   Чтобы можно было проскролить при помощи тача  */
	margin-top:70px;
}

h1, h2,	h3,	h4,	h5,	h6 {
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
}

p {
	line-height: 28px;
	margin-bottom: 25px;
}

.centered {
	text-align: center;
}

a {
	color: #f85c37;
}

a:hover, a:focus {		/*  Наведение, Фокусировка */
	color: #7b7b7b;
	text-decoration: none;   /*  подчеркивание */
	outline: 0;
}

hr {
	display: block;

	height: 1px;
	border: 0px;
	border-top: 1px solid #FFF5EE;
	margin: 1em 0;
	padding: 0;
}

.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-inverse {
	background: #2d2d2d;
	border-color: #2d2d2d; 
}

.navbar-inverse .navbar-nav > .active > a {
	background-color: #ff7878;
}

a.navbar-brand {
	padding-left: 40px;
	font-size: 25px;
}

.navbar-inverse, .navbar-brand {
	color: #999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}





/* Блок под шапкой */

#headerwrap {
	background: url(../img/lough/1_out.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative; /*  Весь задний фон прилегает к блоку   */
	background-position: center center;
	min-height: 768px;
	
	width: 100%;
	background-size: 100%;

	-webkit-background-size: cover;  /* чтобы все нормально отображалось .. Сафари  */
	-moz-background-size: cover; 	/* мазила */
	-o-background-size: cover;		/* опера */
	background-size: cover;
}

#headerwrap h1 {
	margin-top: 350px;
	color: #ff7878;
	font-family: QuiteChocolatey;
	font-weight: 300;
	letter-spacing: 2px;
	font-size: 9rem;
	word-wrap:break-word;
}

#headerwrap h1 {
	
	text-shadow: 1px 1px 2px black, 0 0 1em red;
}




#headerwrap h2 {
	color: #fff;
	font-size: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
}


.navigation-desctop a:hover{
	font-size: 3rem;
	transition:all 0.8s ease;
	transform: translateX(-15px);
}


.navigation-desctop a {
  
  
  position: relative;
}
.navigation-desctop a.nav-item:after {
  transition: all 0.4s;
 margin-left: 12px;
  content: '';
  width: 90%;
  position: absolute;
  height: 2px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  background: #5F9EA0;
}
.navigation-desctop a:hover.nav-item:after {
  content: '';
  margin-left: 12px;
  width: 90%;
  position: absolute;
  height: 2px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) scaleX(1);
  background: #5F9EA0;

}


/* Новый блок 1 */

.w {
	padding-top: 35px;
}


.w h4 {
	text-align: center;
	font-size: 25px;
}

p.s {
	padding-bottom: 40px;
	text-align: center;
}
.w p {
	
	
	padding-top: 5px;
	text-align:justify;
	font-size: 1.5rem;
	
}

/* Новый блок 2 */

/* Слайдер */
#slick h4 {
	text-align: center;
	font-size: 4rem;
	padding-bottom: 15px;
}
.slick-slider {
	text-align: center;
	min-width: 20%;	
	
  
}
.slick-slider img {
	width: 100%;
	
	background-size: cover;
	height:220.5px;
}
.slick-slide {
  	margin: 10px 10px;
}


.tilt {
	-webkit-transition: all 0.5s ease;  /* время поворота */
	   -moz-transition: all 0.5s ease;
		 -o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
			transition: all 0.5s ease;
}

.tilt:hover {
	-webkit-transform: rotate(-10deg);  /* на 10 градусов */
	   -moz-transform: rotate(-10deg);
		 -o-transform: rotate(-10deg);
		-ms-transform: rotate(-10deg);
			transform: rotate(-10deg);
}


/* Новый блок 3 */


#video {
	margin-top: 30px;
	margin-bottom: 50px;
}

.video-iframe {
	border: 1px;
	width:90%;
	display: block;
	margin: 0 auto;
	height: 50rem;
	min-width: 20%;
	-webkit-box-shadow: 2px 2px 10px rgba(20,40,60,0.5);
	   -moz-box-shadow: 2px 2px 10px rgba(20,40,60,0.5);
		-ms-box-shadow: 2px 2px 10px rgba(20,40,60,0.5);
		 -o-box-shadow: 2px 2px 10px rgba(20,40,60,0.5);
			box-shadow: 2px 2px 10px rgba(20,40,60,0.5);
}


/* Новый блок 5 */

.iframe-map {
	widows: 90%;
	-webkit-box-shadow: 2px 2px 10px rgba(20,40,60,0.5);
	   -moz-box-shadow: 2px 2px 10px rgba(20,40,60,0.5);
		-ms-box-shadow: 2px 2px 10px rgba(20,40,60,0.5);
		 -o-box-shadow: 2px 2px 10px rgba(20,40,60,0.5);
			box-shadow: 2px 2px 10px rgba(20,40,60,0.5);
}

#r {
	background: #ff7878;
	padding-top: 70px;
	padding-bottom: 70px;
}

#r h4 {
	color: white;
	font-size: 45px;
}

#r p {
	color: white;
}

/* Новый блок 6 Footer */

#footer {
	background: #2d2d2d;
	padding-top: 30px;
	padding-bottom: 20px;
}

#footer i {
	color: #bdbdbd;
	font-size: 30px;
	padding: 20px;
}

#footer i:hover {
	color: #ff7878;
}

#footer p {
	font-size: 15px;
	font-family: serif;
	color:#c0c0c0;
}

#footer1 {
	background: black;
	padding-top: 30px;
	padding-bottom: 20px;
	color: #bdbdbd;
	font-size: 12px;
	font-family: sans-serif;
}