body {
	background-color: #f2f2f2;   /* цвет фона    */					/*     */
	font-size: 16px;
	color: red;
	-webkit-font-smoothing: antialiased;			/*  Гладкий шрифт на моб. устройствах или увеличить   */
	-webkit-overflow-scrolling: touch; 	/*   Чтобы можно было проскролить при помощи тача  */
}

h1,	h2,	h3,	h4,	h5,	h6 {
	font-weight: 300;
	color: #fff;
}

#headerwrap {
	background: url(../img/main.jpg) no-repeat center top;
	min-height: 650px;
	background-attachment: relative; /*  Весь задний фон прилегает к блоку   */
	background-position: center center;
	width: 100%;
	background-size: 100%;

	-webkit-background-size: cover;  /* чтобы все нормально отображалось .. Сафари  */
	-moz-background-size: cover; 	/* мазила */
	-o-background-size: cover;		/* опера */
	background-size: cover;
}

.centered {
	text-align: center;
}


#wp {
	background-color: #130e27;
	min-height: 100px;
}

#wp .story {
	padding-top:  25px;
	font-family: serif;
	font-size: 1.8rem;
	color: white;
	font-weight: 300;
	letter-spacing: 1px;
}

#wp .our-story {
	padding-left: 66px;
	padding-top:  30px;
}

#wp input[type="button"] {
	color:#fff;
	font-size: 2rem;
	width: 170px;
	border-radius: 3px;
	text-transform: uppercase;
	padding: 4px;
	background-color: red;
	border: 0;	
}

#dg h4 {
	padding-top: 30px;
	color: #130e27;
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 700;
}



#dg .img {
	
	width: 100%;
	background-size: 100%;
	min-height: 400px;
}

#dg .img1 {
	background: url(../img/rect_1.png) no-repeat;
	
}

#dg .img2 {
	background: url(../img/fff.png) no-repeat;
	
}

#dg .img3 {
	background: url(../img/rect_1.png) no-repeat;
	
}

#dg .tilt {
	-webkit-transition: all 0.5s ease;  /* время поворота */
	   -moz-transition: all 0.5s ease;
		 -o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
			transition: all 0.5s ease;
}

#dg .tilt:hover {
	-webkit-transform: rotate(-10deg);  /* на 10 градусов */
	   -moz-transform: rotate(-10deg);
		 -o-transform: rotate(-10deg);
		-ms-transform: rotate(-10deg);
			transform: rotate(-10deg);
}

#dg .sbtext {
	font-size: 2rem;
	color: black;
}

#dg .price {
	font-size: 4rem;
	color: red;
	font-weight: 600;
}

#dg input[type="button"] {
	color:#fff;
	font-size: 2rem;
	width: 170px;
	border-radius: 3px;
	text-transform: uppercase;
	padding: 4px;
	border: 0px;
}

#dg input[name="button2"] {
	background-color: red;

}

#dg input[name="button1"] {
	background-color: #130e27;


}

#dg input[name="button3"] {
	background-color: #130e27;

}

#dg .mt {
	margin-top: 33px;
}

#dg .pt {
	padding-top: 28px;
}