* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-size: 100%;
}
body {
	font: 14px/18px 'Times New Roman', Times, Arial, sans-serif;
	width: 100%;
	height: 100%;
	color: #fff;
	background: #fff;
}



@media (min-width: 1200px) {
  	.container {
    	width: 1011px;
    	
  	}
  	#wrapper .dropdown {
	display: none;

}

}

@media (max-width: 1199px) {
  	#wrapper ul.menu {
  		display: none;
  	}

  	#wrapper button {
		display: block;
	
	}

	#wrapper button {
		margin-top: 30px;
	}

	#services {
	margin-bottom: 65px;
	
}
	
	

  	



}


@media (max-width: 991px) {
	



#form {
	display: none;
}
	
	.product {
    
    padding-left: 0px;
   
   
}

.product-footer {
    min-width: 260px;
    padding-left:40px;
    
}

#wp {
	margin-top: 0px;
}



	
}

@media screen and (max-width: 767.9px) {
    

	
}


.centered {
	text-align: center;
}

i[class*="ic-"] {
    display: inline-block;
    vertical-align: middle;
    background: url(../img1/sprite.png) no-repeat;
}


i.ic-arrow {
	height: 20px;
	width: 28px;
	background-position: 3px -36px;
}



#wrapper button {
	background-color: black;
	width: 40px;
	height: 38px;
	border: 1px solid #eee;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
			outline: none;
}

#wrapper button:hover {
	background-color: #130e27;
	border: 1px solid pink;
}

#wrapper .dropdown-menu {
	background-color: #130e27;
	color: red;
}

#wrapper .dropdown-menu li a {
	
	color: yellow;
	
}

#wrapper .dropdown-menu li a:hover {
	
	
	background-color: blue;
	color:#fff;
}


#wrapper .drop-menu {
	position: relative;
	float: right;
	padding-left: 120px;
}

#header {
	background: red url(../img/fon_body_red.png) no-repeat center top;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
			height: 90vh;
			max-height: 60rem;
}

#wrapper .h-nav-logo {
	
	position:relative;
	
	left: -20px; 
}




#wrapper .h-nav {
	float: left;
}

#wrapper .h-menu {
	padding: 30px 0;
	padding-bottom: 0;
	
}

#wrapper .h-nav a:last-child {
	margin-right: 0;
}

#wrapper .h-nav a:hover {
	color:#130e27;
	text-decoration: none;

}

#wrapper .h-nav a {
	font-size: 18px;
	color: #fff;
	margin-right: 27px;
	text-transform: uppercase;
	font-family: sans-serif;
	text-decoration: none;
	line-height: 22px;
	letter-spacing: -0.5px;
}

#wrapper .h-nav a.active:hover {
	color: yellow;
}

#wrapper .h-nav a.active {
	color: #fff;
	border-radius: 5px;
	background-color: #130e27;
	padding: 10px 15px;

}

#wrapper ul.menu li {
	display: inline-block;
	padding-left: 30px;
	padding-top: 40px;
	padding-bottom: 0;
}



#wrapper .h-panel {
	padding-top: 125px;
	padding-bottom: 0;
	
}

#wrapper .nav-sk {
	color: #130e27;
	
	padding-top: 35px;
}

#wrapper .nav-text {

	display: block;
	font-size: 90px;
	padding-left: 20px;
	text-transform: uppercase;
	line-height: 80px;
	letter-spacing: -0.5px;

} 

#wrapper .nav-lorem {
	padding-top: 50px;
	padding-left: 20px;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: -0.5px;
	padding-bottom: 155px;
}

#wrapper .nav-form {
	background-color: #fff;
	width: 400px;
	height: 520px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
	-webkit-box-shadow: 5px 5px 16px rgba(137,137,137,0.71);
	   -moz-box-shadow: 5px 5px 16px rgba(137,137,137,0.71);
		 -o-box-shadow: 5px 5px 16px rgba(137,137,137,0.71);
			box-shadow: 5px 5px 16px rgba(137,137,137,0.71);
}

#wrapper .nav-panel {
	float: left;
}

#wrapper .nav-head {
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	color: #130e27;
	padding-top: 32px;
	padding-bottom: 10px;
}

#form {
	position: relative;
	margin-top: 40px;
}

#form input[type="text"] {
	color: #000;
	width: 100%;
	max-width: 350px;
	height: 55px;
	padding-left: 18px;
	border: 1px solid #eee;
	margin-left: 25px;
	margin-top: 22px;
	background-color: #eee;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
}

#form input[type="text"]:hover {
	border: 1px solid red;
	outline: none;
}

#form input[type="text"]:focus {
	border: 1px solid  #eee;
	outline: none;
}

#form input[type="checkbox"] {
	margin-top: 27px;
	margin-left: 25px;
}

#form span {
	color: #130e27;
	font-size: 20px; 
	padding-left: 20px;
	line-height: 25px;
	letter-spacing: -0.5px;
}

#form input[type="submit"] {
	color: #fff;
	font-size: 22px;
	padding: 18px 130px;
	margin-top: 27px;
	margin-left: 25px;
	max-width: 350px;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	letter-spacing: -0.5px;
	max-height: 55px;
	border: 1px solid #c62314;
	background-color: #c62314;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		 -o-border-radius: 5px;
			border-radius: 5px;
}

#services {
	background-color: #fff;
	
	min-height: 480px;

	

}

#services .services {
	padding-bottom: 65px;
}

.service-text {
	font-size: 50px;
	padding-left: 75px;
	margin-top: 50px;
	text-transform: uppercase;
	color: #130e27;
	width: 100%;
	height: 100px;
	line-height: 80px;
	letter-spacing: -0.5px;
	
}

.service-text span {
	color:red;

}





.nav-text1 {
	color:#161616;
	display: inline-block;
	padding-top: 40px;
	padding-bottom: 70px;
	
	font-size: 20px;
	line-height: 28px;
	
	letter-spacing: -0.5px;
}


#wp {
	background-color: #130e27;
	min-height: 120px;
}

#wp .story {
	padding-left: 100px;
	font-size: 20px;
	letter-spacing: -0.5px;
	line-height: 28px;
	padding-top: 32px;
	float: left;
}

#wp input[type="button"] {
	color:#fff;
	font-size: 22px;
	width: 270px;
	border-radius: 3px;
	text-transform: uppercase;
	padding: 20px 64px;

	background-color: red;
	border: 0;	
	margin-top: 30px;
	
	margin-right: 15px;

}



.product {
    height: 400px;
    text-align: center;
    padding-left: 90px;
    padding-bottom: 60px;
   
}



.product-img {
    position: relative;
    
    height: 170px;
    margin-top: 70px;
    
    
    
}
.product-img img {
    display: inline-block;
    height: auto;
    max-width: 100%;

    
}
.product-footer {
    height: 125px; 
    display: inline-block;
    width: 200px;
    padding-right: 40px; 
}





